@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background: rgb(236, 236, 236);
  background: linear-gradient(336deg, rgba(236, 236, 236, 1) 33%, rgba(241, 246, 227, 1) 71%);
}

@keyframes slideInFromTop  {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#main-button:hover {
background-color:antiquewhite;
}

#cart-circle {
  background-color: #9CD175;
}

#footer-icon:hover {
  color: #9CD175;
}

#lime-text {
  color: #628949;
}

@media (max-width: 768px) {
  #bean-boxes {
    display:none;
  }
    .slide-in-left {
      animation: slideInFromLeft 1s ease;
    }
    .slide-in-top {
      animation: slideInFromTop 1s ease;
      display: none;
    }
}

@media (min-width: 768px) {


  .slide-in-left {
    animation: slideInFromLeft 1s ease;
    display: none;
  }

  .slide-in-top {
    animation: slideInFromTop 1s ease;
  }
}